
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:'#80909A';
    opacity: 1; /* Firefox */
    font-family: 'Banana Grotesk';
    font-weight: 400
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:'#80909A';
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:'#80909A';
  }
  .back{
    background: #EBF3FB;
    background-image:url(../images/back.png);
    background-repeat:no-repeat;
    background-position: center 100%;
    background-size: 100% ;
    color:#FFF;
  
    padding-top: 0px;
    max-width: 100vw;
    overflow: hidden;
    position:'relative'


  
  
  }
  .grow2{
    display:none !important
  }
  .teaching2{
    display:none !important
  }
  .realtime2{
    display:none !important
  }
  .more{
    display: none !important;
  }
 .phone3{
  display:none !important
 }
 .phone3{
  display:none !important
}
  @media only screen and (max-width: 900px) {
    .more{
      display: flex !important;
    }
    .grow{
      display:none !important
    }
    .phone1{
      display:none !important
    }
    .phone2{
      display:none !important
    }
    .phone3{
      display:block !important
    }
    .phone4{
      display:block !important
    }
    .teaching{
      display:none !important
    }
    .realtime{
      display:none !important
    }
    .back{
      background-image:url(../images/back2.png);
    }
   
    .begin{
      height: 1088px !important;
    }
    .head{
        font-size: 26px !important;
        padding-top: 80px !important;
       width: 100% !important;
        max-width: 100% !important;
        line-height: normal !important;
        padding-bottom: 29px;
    }
    .back{
      padding-bottom: 400px;
    }
     .padr{
        margin-right: 10px !important;
    }
 
     
  }
  @media only screen and (max-width: 900px) {

    .grow2{
      display:block !important
    }
    .teaching2{
      display:block !important
    }
    .realtime2{
      display:block !important
    }
  }
  @media only screen and (max-width: 650px) {
    .top{
      top:-20vw !important
    }
  
  }
  @media only screen and (max-width: 580px) {
   
    .back{
      padding-bottom: 900px;
    }
    .onebase{
        padding-top: 60px !important;
    }
    .padr{
        margin-right: 40px !important;
    }
  

  }
  @media only screen and (max-width: 500px) {
    .top{
      top:-20vw !important
    }
    
    
     .padr{
         margin-right: 15px !important;
     }
     .onebase{
         padding-top: 60px !important;
     }
     
  }