.mainfoot{
  
    background-image:url(../images/logo-white.png);
    background-repeat:no-repeat;
    background-position: 105% 40px;
    overflow: hidden;

    background-size: 40%;
    color:#FFF;
    padding-top: 50px;
    width: 1100px;
    max-width: 100vw;
    overflow: hidden;
    position:'relative'
}

.aa{
    padding-left: 180px !important;

}
@media only screen and (max-width: 1000px) { 
    
    .lrub{
        left: -700px !important;
    }
    .rrub{
        right: -700px !important;
    }
    .aa{
        padding-left: 140px !important;
    
    }
    .abc{
        margin: 0 !important;
        padding-left: 35px !important;
        margin-top: 23px !important;

    }
    }

@media only screen and (max-width: 900px) {
    .inputbox{
        flex-direction: column !important;
        height: 98px !important;
        margin-top: 0px !important;
    } 
    .aa{
        flex-direction: column !important;

    }
    .aa > div{
        margin-bottom: 45px !important;
    }
    .a2{
        min-height: 2px;
        height: auto !important;
    }
    .a2 > h3{
        margin-top: 42.29px
    }
    .abc{
        margin: 0 !important;
        padding-left: 80px !important;
        margin-top: 23px !important;

    

    }
    .getin{
        width: 315px !important;
        min-width: 100% !important;
        height: 49px !important;
        text-align: center;
    }
    .getbut{
       width: 100% !important;
       min-width: 100% !important;
       margin-bottom: 9px !important;
       font-size: 16px !important
    }
    .join{
        line-height: normal !important;
        font-size: 46px !important;
        font-family: 'Banana Grotesk Bold' !important;
        padding: 0 !important;
        padding-right: 0;
        width:100%; 
        text-align: center;
       

    }
    .joinus{
        flex-direction: column !important;
    }
    
    .lrub{
        left: -730px !important;
    }
    .rrub{
        right: -730px !important;
    }
    .aa{
        padding-left: 100px !important;
    
    }
    }

@media only screen and (max-width: 700px) { 
    .abc{
        margin: 0 !important;
        padding-left: 40px !important;
        margin-top: 23px !important;

    

    }

}





@media only screen and (max-width: 500px) { 
    .join{
 
        padding-left: 10px;
         padding-right: 15px !important;
    }
    .lrub{
        left: -800px !important;
    }
    .rrub{
        right: -800px !important;
    }
    .aa{
        padding-left: 35px !important;
    
    }
    }
  