.links{

}

  .logo {
    display: block;
    text-indent: -9999px;
    width: 154.35px;
    height: 30px;
    background: url(../images/logo.svg);
    background-size: 154.35px 30px;
  }

@media only screen and (max-width: 900px) {
   .main{
     display: none !important;
   }
   .header{
     height: 63px !important;
   }
 }
@media only screen and (max-width: 700px) { 
  
    .header{
        padding:'0' !important;
    }
}
@media only screen and (max-width: 500px) { 
 
    .header{
        padding:'0' !important;
    }
}